$base: olivedrab;
$padding: .86rem;
$speed: 0.6s;
$delay: ($speed * .5);
$easing: cubic-bezier(.55,0,.75,.95);

//- js
.js {
    &-drop {
        cursor: pointer;
    }
    &-expand  {
        .expand {
            font-size: 0;
            line-height: 0;
            &.is-active {
                font-size: inherit;
                line-height: inherit;
            }
        }
        @include MQ(onlyMobile) {
            .expand, .expand-content {
                width: 100%;
                transition: opacity $speed $easing, visibility $speed $easing;
                visibility: hidden;
                backface-visibility: hidden;
                opacity: 0;
            }
            .expand-content {
                position: relative;
                min-height: 20rem;
                height: 100vh;
                background-color: #fff;
                overflow-y: auto;
                transform: scale(1.2);
                margin: 0 auto;
            }
            .expand {
                @include display-flex;
                @include align-items(center);
                @include justify-content(center);
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                z-index: 1;
                background-color: rgba(#000, 0.3);
                &.is-active {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                    .expand-content {
                        visibility: visible;
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
        @include MQ(xs) {
            .expand {
                height: 0;
                max-height: 0;
                overflow: hidden;
                transition: all $speed $easing;
                &.is-active {
                    height: auto;
                    max-height: 500px;
                    padding: 1rem;
                }
            }
        }
    }
    &-close {
        position: absolute;
        right: $padding;
        top: $padding;
        color: $base;
        transition: opacity $speed $easing;
    }
}



//- theme

* {
    box-sizing: border-box;
}
body {
  background: #222;
}
a {
    opacity: .3;
    &:hover {
        opacity: 1;
    }
}
h1 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color: #fff;
    margin-top: 4rem;
}
.table {
    max-width: 600px;
    margin: 4rem auto;
    width: 90%;
    font-family: "Raleway";
    font-size: 0.7rem;
    background: #f4f4f4;
    th {
        padding: $padding;
        font-weight: bold;
        text-align: left;
        color: #fff;
        background: darken($base, 5);
        border-bottom: 1px solid darken($base, 5);
    }
    tr {
        &.js-drop {
            padding: $padding;
            color: #fff;
            background: $base;
            border-bottom: 1px solid darken($base, 5);
            &:hover {
                background: darken($base, 10);
            }
            td {
                padding: $padding;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    table {
        min-width: 320px;
        thead {
            display: none;
        }
        tr {
            &.js-drop {
                td {
                    display: block;
                    &:before {
                        content: attr(data-th)' ';
                        display: inline-block;
                        min-width: 100px;
                        font-weight: bold;
                        color: rgba(#fff, .5);
                        padding-right: 10px;
                    }
                }
            }
            &.js-expand {
                .expand-content {
                    padding: $padding;
                    padding-top: $padding * 3;
                }
            }
        }
    }
}